.header {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing:border-box;
}

.header_link {
    text-decoration-line: none;
    margin: 30px;
    color: rgb(42, 35, 35);
}